.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background: #000;
  color: white;
  background-image: url('https://i.gifer.com/embedded/download/4l9K.gif');
 
}


.parent{
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  margin-top: 20px;
}

.fill{
  background-color: transparent;
  border: none;
margin-top: 3rem;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin-left: -180px;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
  color: white;
  border: 3px solid #000000!important;
  border-radius: 15px;
  background-color: #0a80abaf;
 
}
.input placeholder{
  color: white;
}

.init h2{
  font-size: 59px;
  font-weight: 900;
  text-align: center;
  margin-left: -357px;
  color: white;
}

.init h3{
  font-size: 59px;
  font-weight: 900;
  text-align: center;
  margin-left: -357px;
  color: white;
  margin-top: -30px;
}
.tempre h4{
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  margin-left: -357px;
  color: white;
  margin-top: -30px;
}
.error p{
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin-left: -357px;
  color: white;
}
.footer h5{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: -310px;
}
@media only screen and (max-width: 600px) {
  body{
    width: fit-content;
    height: fit-content;
  }
  .parent {
    justify-content: center;
    align-items: center;
    /* margin-left: 181px; */
    margin-top: 20px;
}
.tempre h4 {
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  /* margin-left: -239px; */
  color: white;
  margin-top: -30px;
}
.footer h5 {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: -351px;
}
.fill{
  width: 246px;
  margin-left: -305px;
}
}